.wrapper {
    margin-top: 70px;
    padding: 0 calc(var(--padding-default-both-sides) - 16px);
}

.banner-wrapper {
    padding-top: 26px;
}

.banner-song {
    // padding-top: 20px;
    // width: 100%;
    // display: flex;
    // align-items: center;
}

.loading {
    background-color: var(--alpha-bgc);
    width: 100%;
    height: 232px;
    position: relative;
}

.loading::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 80%;
    background-color: transparent;
    left: 0;
    box-shadow: 10px -10px 100px 40px #838383;
    animation: loading 3s infinite;
}

.banner-link {
    width: calc(100% / 3);
    margin: 0;
}

.banner-content {
    img {
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }
}

.banner-advertisement {
    width: 100%;

    margin: 7px 0;
}

.advertisement-link {
    width: 100%;
    height: 100%;
}

.advertisement-img {
    width: 100%;
    height: 90px;
    display: flex;
    padding: 0 16px;
    object-fit: cover;
}

// Tablet Resposive
@media (min-width: 740px) and (max-width: 1024px) {
    .wrapper {
        padding: 0 calc(var(--padding-default-both-sides) - 50px);
    }
}

// Mobile Reponsive
@media (max-width: 740px) {
    .wrapper {
        padding: 0;
    }

    .banner-link {
        padding: 0 !important;
    }

    .banner-wrapper {
        padding: 0;
    }

    .banner-content {
        img {
            width: 100%;
            border-radius: unset;
        }
    }
}

@keyframes loading {
    0% {
        left: 0;
    }

    25% {
        left: 100%;
    }
}
