.wrapper {
    max-height: 335px;
    max-width: 100%;
    margin-top: 50px;
}

.singer {
    margin-bottom: 18px;
    padding: 0 16px;
   flex: 1;
}

.list {
    display: flex;
    align-items: start;
}

.title {
    padding: 0 16px;
    color: var(--white-color);
}

.img-song {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;

    img {
        width: calc(100% / 3);
        height: auto;
        border-radius: 5px;
        padding: 6px;
    }
}

.info-singer {
    position: absolute;
    bottom: -16px;
    width: 100%;

    h4 {
        font-size: 21px;
        color: var(--white-color);
        padding-left: 10px;
        padding-bottom: 12px;
    }
}

.desc {
    margin-top: 14px;
    font-size: 14px;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

@media (max-width: 740px) {
    .wrapper {
        display: none;
    }
}
