.wrapper {
    padding: 0 16px;
    margin-bottom: 38px;
}

.title {
    font-size: 20px;
    color: var(--white-color);
}

.box-zingchart {
    margin-right: 28px;
}

.main {
    margin-right: 28px;
}

.list {
    display: flex;
    align-items: center;
    height: 178px;
    width: 100%;
}

.img {
    width: 145px;
    height: 145px;
}
