.wrapper {
    max-width: 540px;
    width: 100%;
    position: relative;
    height: 40px;
}

.content {
    width: 100%;
    height: 100%;
    position: relative;
}

.wrapper-search {
    width: 540px !important;
    height: auto;
    padding: 13px 10px;
    position: relative;
    left: 0;
    top: -6px;
}

.title-search {
    color: var(--white-color);
    padding: 0px 10px 8px;
}

.list-result {
    flex: 1;
    list-style: none;
}

.result-item {
    display: flex;
    align-items: center;
    padding: 8px 10px;
    font-size: 13px;
    font-weight: 500;
    color: var(--white-color);
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        background: var(--alpha-bgc);
    }
}

.icon-search {
    margin-right: 10px;
    font-size: 16px;
    color: #ffffff80;
}

.name-song-result {
    max-width: 100%;
    width: 100%;
}

.search-btn {
    left: 0;
    top: 0;
    height: 100%;
    text-align: center;
    font-size: 20px;
    position: absolute;
    z-index: 1;
    background-color: transparent;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 8px;
    color: var(--text-color);
    cursor: pointer;
}

.input {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    color: #fff;
    background-color: var(--alpha-bgc);
    padding: 0px 28px 0 40px;
}

.clear {
    position: absolute;
    right: 0;
    height: 100%;
    background: transparent;

    text-align: center;
    margin-right: 10px;
    color: var(--white-color);
}

.icon-load {
    position: absolute;
    right: 0;
    height: 100%;
    margin-right: 10px;
    text-align: center;
    line-height: 40px;
    animation: spinner 1s infinite;
}

@keyframes spinner {
    100% {
        transform: rotate(360deg);
    }
}

// Mobile Reponsive
@media (max-width: 740px) {
    .wrapper {
        height: 100%;
    }

    .content {
        height: 100%;
    }

    .input {
        height: 44px;
        background-color: var(--background-color-focus-search);

        border: 1px solid;
        border-radius: 10px;
    }

    .wrapper-search {
        left: -5px;
        top: -635px;
        width: 415px !important;
    }

    .search-btn {
        left: 0;
        right: unset;
        font-size: 22px;
        margin-right: 10px;
        height: 44px;
        font-size: 18px;
    }

    .name-song-result {
        font-size: 16px;
        flex: 1;
    }

    .icon-load {
        top: 3px;
        height: auto;
    }

    .clear {
        top: 13px;
        height: auto;
        font-size: 16px;
    }

    .close-modal-search-mobile {
        right: 0;
    }
}
